.main-button {
    width: 470px;
    max-height: 70px;
    padding: 20px 54px 20px 54px;
    gap: 10px;
    background-color: rgba(31, 39, 245, 1);
    border: none;
    border-radius: 4px;
    font-size: 24px;
    color: rgb(224, 224, 237);
}

